<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.couyis.base.rule.dao.RuleMapper">
	<resultMap id="BaseResultMap" type="com.couyis.base.rule.pojo.Rule">
		<!-- 查询与实体类对应关系 -->
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="CODE" jdbcType="VARCHAR" property="code" />
		<result column="COUNTS" jdbcType="INTEGER" property="counts" />
		<result column="DATE_FORMAT" jdbcType="VARCHAR" property="dateFormat" />
		<result column="NUMBER_" jdbcType="INTEGER" property="number" />
		<result column="PREFIX" jdbcType="VARCHAR" property="prefix" />
		<result column="TODAY" jdbcType="DATE" property="toDay" />
		<result column="REMARK" jdbcType="VARCHAR" property="remark" />
		<result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
		<result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
		<result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
		<result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	<sql id="Page_Column_List"><!-- 查询的字段 -->
		ID, CODE, COUNTS,DATE_FORMAT,NUMBER_,PREFIX,TODAY,REMARK
		,CREATE_USER,CREATE_TIME,UPDATE_USER,UPDATE_TIME
	</sql>
	<sql id="Page_Execute"><!-- 分页查询 -->
		LIMIT ${offset},${pageSize}
	</sql>
	<sql id="Page_Execute_Head"><!-- 分页查询 -->
		<![CDATA[ SELECT * FROM (SELECT A.*, ROWNUM RN FROM ( ]]>
	</sql>
	
	<sql id="Page_Execute_Tail"><!-- 分页查询 -->
		<![CDATA[ ) A WHERE ROWNUM <= ${pageSize}+${offset} )WHERE RN > ${offset}]]>
	</sql>
	<sql id="Page_Order_By"><!-- 排序字段 -->
		<if test="orderField != null and orderDirection != null">
			ORDER BY ${orderField} ${orderDirection}
		</if>
	</sql>

	<!-- 查询记录数 -->
	<select id="findCount" parameterType="com.couyis.base.rule.bean.RuleBean"
		resultType="java.lang.Integer">
		SELECT COUNT(*) FROM BASE_RULE
		WHERE 1=1
		<if test="code != null">
			AND CODE LIKE '%${code}%'
		</if>
		<if test="dateFormat != null">
			AND DATE_FORMAT LIKE '%${dateFormat}%'
		</if>
		<if test="prefix != null">
			AND PREFIX LIKE '%${prefix}%'
		</if>
	</select>

	<!-- 分页查询 -->
	<select id="findPage" parameterType="com.couyis.base.rule.bean.RuleBean"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Page_Column_List" />
		FROM BASE_RULE
		WHERE 1=1
		<if test="code != null">
			AND CODE LIKE '%${code}%'
		</if>
		<if test="dateFormat != null">
			AND DATE_FORMAT LIKE '%${dateFormat}%'
		</if>
		<if test="prefix != null">
			AND PREFIX LIKE '%${prefix}%'
		</if>
		<include refid="Page_Order_By" />
		<include refid="Page_Execute" />
	</select>

	<!-- 查询所有 -->
	<select id="findAll" resultMap="BaseResultMap">
		SELECT
		<include refid="Page_Column_List" />
		FROM BASE_RULE
	</select>

	<!-- 获取单条数据 -->
	<select id="findById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Page_Column_List" />
		FROM BASE_RULE WHERE ID = #{id,jdbcType=VARCHAR}
	</select>

	<!-- 获取单条数据 -->
	<select id="findByCode" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Page_Column_List" />
		FROM BASE_RULE WHERE CODE = #{code,jdbcType=VARCHAR}
	</select>

	<!-- 删除数据 -->
	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM
		BASE_RULE
		WHERE
		ID = #{id,jdbcType=VARCHAR}
	</delete>
	<!-- 插入数据 -->
	<insert id="save" parameterType="com.couyis.base.rule.pojo.Rule">
		INSERT INTO BASE_RULE
		(ID,CODE,
		COUNTS,DATE_FORMAT,NUMBER_,PREFIX,TODAY,REMARK,CREATE_USER,CREATE_TIME)
		VALUES
		(#{id,jdbcType=VARCHAR},
		#{code,jdbcType=VARCHAR},
		#{counts,jdbcType=INTEGER},
		#{dateFormat,jdbcType=VARCHAR},
		#{number,jdbcType=INTEGER},
		#{prefix,jdbcType=VARCHAR},
		#{toDay,jdbcType=DATE},
		#{remark,jdbcType=VARCHAR},
		#{createUser,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP})
	</insert>

	<!-- 更新数据 -->
	<update id="update" parameterType="com.couyis.base.rule.pojo.Rule">
		UPDATE BASE_RULE
		<set>
			<if test="code != null">
				CODE = #{code,jdbcType=VARCHAR},
			</if>
			<if test="counts != null">
				COUNTS = #{counts,jdbcType=INTEGER},
			</if>
			<if test="dateFormat != null">
				DATE_FORMAT = #{dateFormat,jdbcType=VARCHAR},
			</if>
			<if test="number != null">
				NUMBER_ = #{number,jdbcType=INTEGER},
			</if>
			<if test="prefix != null">
				PREFIX = #{prefix,jdbcType=VARCHAR},
			</if>
			<if test="toDay != null">
				TODAY = #{toDay,jdbcType=DATE},
			</if>
			<if test="remark != null">
				REMARK = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="updateUser != null">
				UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		WHERE ID = #{id,jdbcType=VARCHAR}
	</update>
</mapper>