<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.couyis.frame.resource.dao.ResourceMapper">
	<resultMap id="BaseResultMap" type="com.couyis.frame.resource.pojo.Resource">
		<!-- 查询与实体类对应关系 -->
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="NAME" jdbcType="VARCHAR" property="name" />
		<result column="REMARK" jdbcType="VARCHAR" property="remark" />
		<result column="ATTR" jdbcType="VARCHAR" property="attr" />
		<result column="VALUE" jdbcType="VARCHAR" property="value" />
		<result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
		<result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
		<result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
		<result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	<sql id="Page_Column_List"><!-- 查询的字段 -->
		ID, NAME, REMARK, ATTR, VALUE
		,CREATE_USER,CREATE_TIME,UPDATE_USER,UPDATE_TIME
	</sql>
	<sql id="Page_Execute"><!-- 分页查询 -->
		LIMIT ${offset},${pageSize}
	</sql>
	<sql id="Page_Execute_Head"><!-- 分页查询 -->
		<![CDATA[ SELECT * FROM (SELECT A.*, ROWNUM RN FROM ( ]]>
	</sql>
	
	<sql id="Page_Execute_Tail"><!-- 分页查询 -->
		<![CDATA[ ) A WHERE ROWNUM <= ${pageSize}+${offset} )WHERE RN > ${offset}]]>
	</sql>
	<sql id="Page_Order_By"><!-- 排序字段 -->
		<if test="orderField != null and orderDirection != null">
			ORDER BY ${orderField} ${orderDirection}
		</if>
	</sql>

	<!-- 查询记录数 -->
	<select id="findCount" parameterType="com.couyis.frame.resource.bean.ResourceBean"
		resultType="java.lang.Integer">
		SELECT COUNT(*) FROM SECURITY_RESOURCE 
		WHERE 1=1
		<if test="name != null">
			AND NAME LIKE '%${name}%'
		</if>
		<if test="value != null and value != ''">
			AND VALUE LIKE '%${value}%'
		</if>
		<if test="attr != null and attr.size() > 0">
			AND ATTR IN 
			<foreach collection="attr" item="att" index="index" open="(" close=")" separator=",">
		      #{att}
		    </foreach>
	    </if>
	</select>

	<!-- 分页查询 -->
	<select id="findPage" parameterType="com.couyis.frame.resource.bean.ResourceBean"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Page_Column_List" />
		FROM SECURITY_RESOURCE 
		WHERE 1=1
		<if test="name != null">
			AND NAME LIKE '%${name}%'
		</if>
		<if test="value != null and value!= ''">
			AND VALUE LIKE '%${value}%'
		</if>
		<if test="attr != null and attr.size() > 0">
			AND ATTR IN 
			<foreach collection="attr" item="att" index="index" open="(" close=")" separator=",">
		      #{att}
		    </foreach>
	    </if>
		<include refid="Page_Order_By" />
		<include refid="Page_Execute" />
	</select>

	<select id="findResourceByAuthorityId" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Page_Column_List" />
		FROM SECURITY_RESOURCE 
		WHERE ID IN (SELECT RESOURCE_ID
		FROM SECURITY_AUTHORITY_RESOURCE
		WHERE
		AUTHORITY_ID = #{authorityId,jdbcType=VARCHAR})
	</select>

	<!-- 查询所有 -->
	<select id="findAll" resultMap="BaseResultMap">
		SELECT
		<include refid="Page_Column_List" />
		FROM SECURITY_RESOURCE
		ORDER BY VALUE
	</select>

	<!-- 获取单条数据 -->
	<select id="findById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Page_Column_List" />
		FROM SECURITY_RESOURCE 
		WHERE ID = #{id,jdbcType=VARCHAR}
	</select>
	<!-- 删除数据 -->
	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM
		SECURITY_RESOURCE 
		WHERE ID = #{id,jdbcType=VARCHAR}
	</delete>
	<!-- 插入数据 -->
	<insert id="save" parameterType="com.couyis.frame.resource.pojo.Resource">
		INSERT INTO SECURITY_RESOURCE
		(ID,
		NAME, REMARK,
		ATTR, VALUE,CREATE_USER,CREATE_TIME)
		VALUES (#{id,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},
		#{remark,jdbcType=VARCHAR},
		#{attr,jdbcType=VARCHAR}, 
		#{value,jdbcType=VARCHAR},
		#{createUser,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP})
	</insert>

	<!-- 更新数据 -->
	<update id="update" parameterType="com.couyis.frame.resource.pojo.Resource">
		UPDATE SECURITY_RESOURCE
		<set>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				REMARK = #{remark,jdbcType=VARCHAR},
			</if>
				ATTR = #{attr,jdbcType=VARCHAR},
			<if test="value != null">
				VALUE = #{value,jdbcType=VARCHAR},
			</if>
			<if test="updateUser != null">
				UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		WHERE ID = #{id,jdbcType=VARCHAR}
	</update>
</mapper>