<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.couyis.base.unit.dao.UnitMapper">
	<resultMap id="BaseResultMap" type="com.couyis.base.unit.pojo.Unit">
		<!-- 查询与实体类对应关系 -->
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="CODE" jdbcType="VARCHAR" property="code" />
		<result column="NAME" jdbcType="VARCHAR" property="name" />
		<result column="CATEGORY_ID" jdbcType="VARCHAR" property="categoryId" />
		<result column="CATEGORY_NAME" jdbcType="VARCHAR" property="categoryName" />
		<result column="REMARK" jdbcType="VARCHAR" property="remark" />
		<result column="IS_BASE" jdbcType="BIT" property="isBase" />
		<result column="IS_ROUND" jdbcType="BIT" property="isRound" />
		<result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
		<result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
		<result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
		<result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	<sql id="Page_Column_List"><!-- 查询的字段 -->
		A.ID, A.CODE, A.NAME, A.CATEGORY_ID,B.NAME AS CATEGORY_NAME, A.REMARK,
		A.IS_BASE, A.IS_ROUND,A.CREATE_USER,A.CREATE_TIME,A.UPDATE_USER,A.UPDATE_TIME
	</sql>
	<sql id="Page_Execute"><!-- 分页查询 -->
		LIMIT ${offset},${pageSize}
	</sql>
	<sql id="Page_Execute_Head"><!-- 分页查询 -->
		<![CDATA[ SELECT * FROM (SELECT A.*, ROWNUM RN FROM ( ]]>
	</sql>
	
	<sql id="Page_Execute_Tail"><!-- 分页查询 -->
		<![CDATA[ ) A WHERE ROWNUM <= ${pageSize}+${offset} )WHERE RN > ${offset}]]>
	</sql>
	<sql id="Page_Order_By"><!-- 排序字段 -->
		<if test="orderField != null and orderDirection != null">
			ORDER BY ${orderField} ${orderDirection}
		</if>
	</sql>

	<!-- 查询记录数 -->
	<select id="findCount" parameterType="com.couyis.base.unit.bean.UnitBean"
		resultType="java.lang.Integer">
		SELECT COUNT(*) FROM BASE_UNIT A LEFT JOIN BASE_DICT B
		ON
		A.CATEGORY_ID=B.ID
		WHERE 1=1
		<if test="name != null">
			AND A.NAME LIKE '%${name}%'
		</if>
		<if test="code != null">
			AND A.CODE LIKE '%${code}%'
		</if>
		<if test="category != null">
			AND B.CODE = '${category}'
		</if>
	</select>

	<!-- 分页查询 -->
	<select id="findPage" parameterType="com.couyis.base.unit.bean.UnitBean"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Page_Column_List" />
		FROM BASE_UNIT A LEFT JOIN BASE_DICT B
		ON
		A.CATEGORY_ID=B.ID
		WHERE 1=1
		<if test="name != null">
			AND A.NAME LIKE '%${name}%'
		</if>
		<if test="code != null">
			AND A.CODE LIKE '%${code}%'
		</if>
		<if test="category != null">
			AND B.CODE = '${category}'
		</if>
		<include refid="Page_Order_By" />
		<include refid="Page_Execute" />
	</select>

	<!-- 查询所有 -->
	<select id="findAll" resultMap="BaseResultMap">
		SELECT
		<include refid="Page_Column_List" />
		FROM BASE_UNIT A LEFT JOIN BASE_DICT B ON A.CATEGORY_ID=B.ID
		ORDER BY
		A.CODE
	</select>

	<!-- 获取单条数据 -->
	<select id="findById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Page_Column_List" />
		FROM BASE_UNIT A LEFT JOIN BASE_DICT B ON A.CATEGORY_ID=B.ID
		WHERE A.ID
		= #{id,jdbcType=VARCHAR}
	</select>

	<!-- 获取单条数据 -->
	<select id="findByCategory" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Page_Column_List" />
		FROM BASE_UNIT A LEFT JOIN BASE_DICT B ON A.CATEGORY_ID=B.ID
		WHERE 1=1
		<if test="categoryCode != null">
			AND B.CODE = '${categoryCode}'
		</if>
	</select>

	<!-- 删除数据 -->
	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM
		BASE_UNIT
		WHERE
		ID = #{id,jdbcType=VARCHAR}
	</delete>
	<!-- 插入数据 -->
	<insert id="save" parameterType="com.couyis.base.unit.pojo.Unit">
		INSERT INTO BASE_UNIT
		(ID,
		CODE,
		NAME,
		CATEGORY_ID, REMARK,IS_BASE,IS_ROUND,CREATE_USER,CREATE_TIME)
		VALUES
		(#{id,jdbcType=VARCHAR},
		#{code,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},
		#{categoryId,jdbcType=VARCHAR},
		#{remark,jdbcType=VARCHAR},
		#{isBase,jdbcType=BIT},
		#{isRound,jdbcType=BIT},
		#{createUser,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP})
	</insert>

	<!-- 更新数据 -->
	<update id="update" parameterType="com.couyis.base.unit.pojo.Unit">
		UPDATE BASE_UNIT
		<set>
			<if test="code != null">
				CODE = #{code,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="categoryId != null">
				CATEGORY_ID = #{categoryId,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				REMARK = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="isBase != null">
				IS_BASE = #{isBase,jdbcType=BIT},
			</if>
			<if test="isRound != null">
				IS_ROUND = #{isRound,jdbcType=BIT},
			</if>
			<if test="updateUser != null">
				UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		WHERE ID = #{id,jdbcType=VARCHAR}
	</update>
</mapper>